{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1 style="text-align: center;">Login</h1>
    </div>
</div>

<form method="POST">
    {% csrf_token %}
    <div>
        <label for="id_username">Usuário:</label>
        
        {{ form.username }}
    </div>
    <div>
        <label for="id_password">Senha:</label>
        
        {{ form.password }}
    </div>
    <br>
    <input class="button" type="submit" value="Login">
</form>

<p>Não possui uma conta? <a href="{% url 'register' %}">Registre-se</a></p>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("[name='username']").classList.add("button");
        document.querySelector("[name='password']").classList.add("button");
    });
</script>


<style>
    .header-message {
        background-color: #549CC6;
        color: #E7E6E1;
        padding: 15px 0; 
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999; 
    }

    .header-message p {
        font-size: 48px; 
        margin: 0;
        line-height: 50px; 
        text-decoration: none;
    }

    .header-message a {
        text-decoration: none;
    }
</style>
<body>
    <div class="header-message">
        <p><a href="{% url 'login' %}">ToDo List</a></p>
    </div>
</body>

{% endblock content %}
